{% extends 'layout.html.twig' %}
{% block title %}Viennamoi{% endblock %}
{% block content %}


 <main role="main">
  {%for bak in bakery %}
   <div class="container-fluid">
    <div id="providers" class="container">
     <div class="row">
      <section class="offset-1 col-xs-10 offset-1">
       <div class="container">
        <div class="row">
         <div class="col-xs-12 col-md-4">
          <img  src="../web/images/providers/{{bak.image}}" alt="Error ghost"/>
         </div>
         <div class="col-xs-12 col-md-8">
          <h3>{{bak.name}}</h3>
          <p class="descri">{{bak.content}}</p>
          <p class="adress"> {{bak.address.line1}} <br>  </p> 
         </div>            
        </div>
       </div>
      </section>            
     </div>
    </div>
   </div>
  {%endfor%}          
 </main>
 <center>
  <style>
   #map {

    height: 400px;
    width: 450px;
   }
  </style>
  <h3>My Google Maps Demo</h3>
  <div id="map"></div><br>
 </center>
 <script>
  function initMap() {
   var styledMapType = new google.maps.StyledMapType([
    {
     "featureType": "all",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "simplified"
      }
     ]
    },
    {
     "featureType": "administrative",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "on"
      }
     ]
    },
    {
     "featureType": "administrative",
     "elementType": "labels.text.fill",
     "stylers": [
      {
       "color": "#e94397"
      }
     ]
    },
    {
     "featureType": "administrative.country",
     "elementType": "geometry.stroke",
     "stylers": [
      {
       "weight": "1.2"
      }
     ]
    },
    {
     "featureType": "administrative.province",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "on"
      }
     ]
    },
    {
     "featureType": "administrative.province",
     "elementType": "geometry.stroke",
     "stylers": [
      {
       "weight": "1"
      },
      {
       "visibility": "off"
      }
     ]
    },
    {
     "featureType": "administrative.neighborhood",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "off"
      }
     ]
    },
    {
     "featureType": "landscape",
     "elementType": "all",
     "stylers": [
      {
       "color": "#f2f2f2"
      }
     ]
    },
    {
     "featureType": "poi",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "off"
      }
     ]
    },
    {
     "featureType": "poi.business",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "off"
      }
     ]
    },
    {
     "featureType": "poi.park",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "on"
      }
     ]
    },
    {
     "featureType": "road",
     "elementType": "all",
     "stylers": [
      {
       "saturation": -100
      },
      {
       "lightness": 45
      },
      {
       "visibility": "on"
      }
     ]
    },
    {
     "featureType": "road.highway",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "simplified"
      }
     ]
    },
    {
     "featureType": "road.arterial",
     "elementType": "labels.icon",
     "stylers": [
      {
       "visibility": "off"
      }
     ]
    },
    {
     "featureType": "transit",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "off"
      }
     ]
    },
    {
     "featureType": "transit.station",
     "elementType": "all",
     "stylers": [
      {
       "visibility": "on"
      }
     ]
    },
    {
     "featureType": "water",
     "elementType": "all",
     "stylers": [
      {
       "color": "#94caf9"
      }
     ]
    }
   ])

   var patisserieChollet = {lat: 45.985997, lng: 4.718026};
   var patisserieNicolas = {lat: 45.984747, lng: 4.718166};
   var patisserieLaPetiteBoulangerie = {lat: 45.982681, lng: 4.718168};
   var patisserieRoche = {lat: 45.984623, lng: 4.720088};
   var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    center: patisserieNicolas
   });

   var optionsCercle = {
    map: map,
    center: map.getCenter(),
    radius: 300,
    strokeColor: "pink",
    strokeWeight: 2,
    fillOpacity: .2
   }
   var monCercle = new google.maps.Circle(optionsCercle);

   var image = {
    url: 'https://s4.aconvert.com/convert/p3r68-cdx67/tlh2e-xjq42.svg'
   };
   var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
   };


   var marker = new google.maps.Marker({
    position: patisserieChollet,
    map: map,
    icon: image
   });
   var marker2 = new google.maps.Marker({
    position: patisserieNicolas,
    map: map,
    icon: image
   });
   var marker3 = new google.maps.Marker({
    position: patisserieLaPetiteBoulangerie,
    map: map,
    icon: image
   });
   var marker4 = new google.maps.Marker({
    position: patisserieRoche,
    map: map,
    icon: image
   });
   map.mapTypes.set('styled_map', styledMapType);
   map.setMapTypeId('styled_map');


  }




 </script>
 <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhwJwyFPjHBHqSfB5mgGMVTB-d6FR5bPs&callback=initMap">
 </script>

 <!--JAVASCRIPT-->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}