{% extends "layout.html.twig" %}
{% set faq = true %}
{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container-fluid">
  <div id="blocfaq" class="container">
   <div class="row">
    <h1>Foire aux questions</h1>
    <h3>But du site</h3>
    <p>
     Vienn' A Moi vous propose de vous livrer chaque jour des packs contenant, 
     selon le pack choisi des viennoiseries ou pâtisseries invendues de la veille à des prix avantageux.
    </p>
    <h3>La livraison</h3>
    <p>
     Vous choisissez des packs parmi les boulangers du secteur de Villefranche sur les invendus de la veille. 
     La livraison se fait dans les 2 heures suivant la validation de la commande.
     D'autres fonctionnalités seront développées par la suite pour répondre à vos demandes, 
     n'hésitez pas à nous faire des retours.
     Si l'adresse de livraison diffère de l'adresse de votre compte, 
     elle vous sera demandée à la confirmation de la commande.
    </p>
    <h3>Paiement</h3>
    <p>
     Le paiement se fait à la livraison par carte ou espèce 
     (pour le paiement par espèce, merci de faire l'appoint dans la mesure du possible, 
     nos livreurs ne disposent que de peu de monnaie).
    </p>
    <h3>Qui sommes-nous ?</h3>
    <p>
     Nous sommes un groupe d'étudiants en développement et intégration web réalisant 
     notre projet de fin d'études auprès de l'organisme de formation WebForce3 de Lyon.
    </p>
    
    <div class="googlemap">
     PAR ICI LA GOOGLE MAP TMTC
    </div>
   </div>
  </div>
 </div>

{% endblock %}